@model QuemPagaQuanto.Models.Despesa

@{
    ViewData["Title"] = "Editar Despesa";
}

<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Editar despesa</h1>
        <h4 class="custom--form-sub">Informações do despesa</h4>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group pb-2">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="Vencimento" class="control-label"></label>
                <input asp-for="Vencimento" class="form-control" />
                <span asp-validation-for="Vencimento" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="Valor" class="control-label"></label>
                <input id="Valor" name="Valor" required required data-val-required="The Tipo de Despesa field is required." class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="GrupoId" class="control-label"></label>
                <select asp-for="GrupoId" class="form-control" asp-items="ViewBag.GrupoId"></select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Salvar Despesa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-md-12 text-center mt-4 custom--back-link">
    <a asp-action="Index">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
