@model QuemPagaQuanto.Models.Renda

@{
    ViewData["Title"] = "Editar Renda";
}

<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Editar renda</h1>
        <h4 class="custom--form-sub">Dados da renda</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input id="Valor" name="Valor" value="@Model.Valor" required data-val-required="Valor é obrigatório." class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RendaFixa" /> @Html.DisplayNameFor(model => model.RendaFixa)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="MoradorId" />

            <div class="form-group">
                <input type="submit" value="Salvar Renda" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-md-12 text-center mt-4 custom--back-link">
    <a asp-action="Index" asp-route-moradorId="@Model.MoradorId">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
