@{
    ViewData["Title"] = "Página Inicial";
}

<div class="p-2">



<div class="text-center pt-5 pb-3">
    <h1 class="display-4 custom--logo">Quem paga quanto?</h1>
    <p>Divida de forma justa as contas das pessoas quem moram na sua casa.</p>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastre todas as suas despesas</h5>
                <p class="card-text">Descubra nossa solução para simplificar e tornar mais transparente a gestão financeira da sua residência. Nosso aplicativo auxilia na gestão dos gastos domésticos, na criação de relatórios, na elaboração de listas de compras, no acompanhamento de despesas e muito mais..</p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dividir para somar: a matemática da convivência</h5>
                <p class="card-text">Facilite a tomada de decisões,gerencie a divisão das despesas de forma rápida, emita relatorios e compartilhe os demais moradores do seu grupo familiar.</p>
               
            </div>
        </div>
    </div>
</div>

<div class="pb-5">
    <div class="d-flex justify-content-center pt-5">
        <h3>TITULO</h3>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="img/usuario_a.png" class="container-image" />
        </div>
        <div class="col-sm-8 mb-3 mb-sm-0">
           <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <button type="button" class="btn btn-success">Acessar</button>

    </div>
</div>

<div class="pb-5">
    <div class="row pt-5">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center">
            <img src="img/graficos.jpg" class="container-image" />
        </div>
        <div class="col-sm-8 mb-3 mb-sm-0">
         <h3>Lorem ipsum</h3>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="img/notebook.jpg" class="container-image" />
        </div>
        <div class="col-4 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="img/usuario.jpg" class="container-image" />
        </div>
        <div class="col-4 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="img/dinheiro.jpg" class="container-image" />
        </div>
    </div>
</div>



<div class="pb-5">
    <div class="d-flex justify-content-center">
        <h3>Lorem ipsum</h3>
    </div>
    <div class="row pt-5">
        <div class="col-sm-5 mb-3 mb-sm-0 d-flex justify-content-center">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
        </div>
        <div class="col-sm-5 mb-3 mb-sm-0 d-flex justify-content-center">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
        </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="d-flex justify-content-center pb-3">
        <h2>Dúvidas Frequentes</h2>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Posso gerenciar mais de um grupo?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Sim, Um usuário com o perfil de administrador pode gerenciar mais de um grupo.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Como os outros moradores saberam como foi feita a divisão?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                 No momento de realizar o cadastro das informaçoes o usuário poderá escolher se a divisão das despesas será proporcional ou igualitaria, e desta forma a informação do metodo de divisão estará no relatórios.   
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               Nossas informações financeira ficarão disponiveis para outras pessoas?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
               Não. Nosso app não terá anúncios e não iremos vender os seus dados. Essa plataforma tem um único objetivo de auxiliar as pessoas na divisão e organização das despesas e gastos domesticos.  
            </div>
        </div>
    </div>
    </div>
</div>