@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center pt-5">
    <h1 class="display-4 custom--logo">Quem paga quanto?</h1>
    <p>Divida de forma justa as contas das pessoas quem moram na sua casa.</p>
</div>
