@{
    ViewData["Title"] = "Início";
}

<div class="row pb-5">
    <div class="col-12">
        <div class="text-center pt-0 pb-3 mb-3">
            <img src="~/img/logotipo.jpeg" alt="Quem Paga Quanto" class="container-image"/>
            <h1 class="display-4 custom--logo">Quem Paga Quanto?</h1>
            <p class="text--home">Divida de forma justa as contas das pessoas quem moram na sua casa.</p>
        </div>
    </div>
</div>

<div class="row">
    <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-1-e2-proj-int-t5-quem-paga-quanto/blob/main/docs/img/app-quem-paga-qto.jpg?raw=true" height="400" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block dark-bg">
                    <h5>Comece agora mesmo a controlar a sua vida financeira</h5>
                    <p>Transforme sua maneira de gerenciar finanças pessoais. Adicione no app os membros que residem com você e divida as contas de maneira justa para cada um. Experimente nossa plataforma hoje e veja a diferença!</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-1-e2-proj-int-t5-quem-paga-quanto/blob/main/docs/img/dinheiro.jpg?raw=true" height="400" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block dark-bg">
                    <h5>Tenha o controle total das suas despesas na palma da sua mão</h5>
                    <p>Tenha um controle total sobre suas finanças. Visualize todas as suas despesas em um único lugar e veja para onde seu dinheiro está indo.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-1-e2-proj-int-t5-quem-paga-quanto/blob/main/docs/img/divisao-de-gastos.jpg?raw=true" height="400" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block dark-bg">
                    <h5>Divida as contas da casa com seu grupo</h5>
                    <p>Com nossa interface fácil de usar, você não precisa ser um especialista em finanças para começar. Adicione ou remova despesas com apenas alguns cliques e veja instantaneamente como elas impactam seu orçamento.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col-12 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title custom--card-title">
                    Descubra a simplicidade na organização de suas finanças domésticas.
                </h5>
                <p class="card-text text--home">
                    Você está cansado de lidar com planilhas complicadas e anotações desorganizadas para controlar suas despesas domésticas? Nossa plataforma de finanças pessoais foi projetada para facilitar sua vida, tornando o gerenciamento de custos simples e intuitivo.
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title custom--card-title">Cadastre todas as despesas da sua casa!</h5>
                <p class="card-text text--home">Descubra nossa solução para simplificar e tornar mais transparente a gestão financeira da sua residência. Nosso aplicativo auxilia na gestão dos gastos domésticos, na criação de relatórios, na elaboração de listas de compras, no acompanhamento de despesas e muito mais..</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title custom--card-title"> Pronto para começar?</h5>
                <p class="card-text  text--home">
                    Junte-se a muitos outros que já estão aproveitando o poder de uma gestão financeira simplificada. Cadastre-se agora e dê o primeiro passo para um futuro financeiro mais organizado e equilibrado.
                    <a asp-controller="Auth" asp-action="Login" class="btn btn-outline-success mt-3">Cadastre-se gratuitamente</a>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="pb-5">
    <div class="d-flex justify-content-center pt-5">
        <h3 class="custom--sub-title">Quem Somos Nós?</h3>
    </div>
    
    <div class="row pt-5">
        <div class="col-12 col-lg-3">
            <img src="~/img/tela celular.jpg" class="rounded-3 img-fluid"/>
        </div>
        
        <div class="col-12 col-lg-9 mt-3 mb-3 text--home">
            <p>
                Bem-vindo à nossa aplicação de finanças pessoais, projetada para simplificar o gerenciamento das despesas domésticas.
            </p>
            <p>
                Nossa plataforma permite dividir os custos entre os moradores de forma justa, seja igualitária ou proporcional à renda de cada um, promovendo uma gestão financeira equilibrada.
            </p>
            <p>
                Com um controle financeiro aprimorado, você pode tomar decisões informadas e ajustar suas despesas para atingir seus objetivos econômicos.
            </p>
            <p>
                Nossa ferramenta é intuitiva e fácil de usar, mesmo para quem não tem experiência em finanças, facilitando a inserção e remoção de despesas e a geração de relatórios detalhados.
            </p>
            <p>
                Estamos comprometidos em tornar o gerenciamento financeiro acessível para todos, ajudando você a construir uma base sólida para um futuro financeiro saudável e sustentável.
            </p>
            <button type="button" class="btn btn-success">Acessar Aplicação</button>
        </div>
    </div>
</div>

<div class="pb-5">
    <div class="d-flex justify-content-center pt-5">
        <h3 class="custom--sub-title">Como Funciona?</h3>
    </div>

    <div class="row pt-5">
        <div class="col-12 col-lg-4">
            <img src="img/graficos.jpg" class="rounded-3 img-fluid"/>
        </div>

        <div class="col-12 col-lg-8 text--home">
            <div>
                <p><strong>Cadastro Simples:</strong> Crie sua conta rapidamente e comece a organizar suas finanças.</p>
                <p><strong>Adicione Moradores:</strong> Inclua todos os moradores da sua casa e defina a forma de divisão das despesas.</p>
                <p><strong>Insira Despesas:</strong> Adicione suas despesas de forma prática e veja como elas são distribuídas entre os moradores.</p>
                <p><strong>Gere Relatórios:</strong> Obtenha relatórios detalhados para entender melhor suas finanças e fazer ajustes quando necessário.</p>
                <p>
                    <strong>Transforme sua maneira de gerenciar finanças pessoais. Experimente nossa plataforma hoje e veja a diferença!</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pb-5">
    <div class="d-flex justify-content-center pt-5">
        <h3 class="custom--sub-title">Por que nos escolher?</h3>
    </div>

    <div class="row pt-5 justify-content-center">
        <div class="col-12 col-lg-4 mb-3">
            <img src="~/img/duvida duas pessoas.jpg" class="rounded-3 img-fluid" width="300" height="300"/>
        </div>

        <div class="col-12 col-lg-4 align-content-center">
            <ul class="list-group text--home">
                <li class="list-group-item">Divisão Justa das Despesas.</li>
                <li class="list-group-item">Interface Intuitiva</li>
                <li class="list-group-item">Relatórios Detalhados</li>
                <li class="list-group-item">Controle Total sobre suas finanças.</li>
                <li class="list-group-item">Segurança e Privacidade</li>
            </ul>
        </div>
    </div>
</div>

@* <div class="text-center pt-5 pb-3"> *@
@*     <div class="d-flex justify-content-center"> *@
@*         <h3 class="custom--sub-title">Nossos Principais Recursos</h3> *@
@*     </div> *@
@*     <div class="row pt-5"> *@
@*         <div class="col-sm-4 mb-3 mb-sm-0"> *@
@*             <ul class="list-group"> *@
@*                 <li class="list-group-item">Emitir relatórios detalhados</li> *@
@*                 <li class="list-group-item">Criar categorias de despesas</li> *@
@* *@
@*             </ul> *@
@*         </div> *@
@*         <div class="col-sm-4 mb-2 mb-sm-0"> *@
@*             <img src="img/usuario.jpg" class="container-image img-fluid"/> *@
@*         </div> *@
@*         <div class="col-sm-4 mb-3 mb-sm-0 "> *@
@*             <ul class="list-group"> *@
@*                 <li class="list-group-item">Gerenciar grupos </li> *@
@*                 <li class="list-group-item">Gerenciar divisão de despesas</li> *@
@* *@
@*             </ul> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="text-center pt-5 pb-3">
    <h3 class="custom--sub-title">Dúvidas Frequentes</h3>
</div>

<div class="accordion text--home" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header text--home">
            <button class="accordion-button btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Posso gerenciar mais de um grupo?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Sim, um usuário com o perfil de administrador pode gerenciar mais de um grupo.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Como os outros moradores saberam como foi feita a divisão?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                No momento de realizar o cadastro das informaçoes o usuário poderá escolher se a divisão das despesas será proporcional ou igualitaria, e desta forma a informação do metodo de divisão estará no relatórios.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Nossas informações financeira ficarão disponiveis para outras pessoas?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                Não. Nosso app não terá anúncios e não iremos vender os seus dados. Essa plataforma tem um único objetivo de auxiliar as pessoas na divisão e organização das despesas e gastos domesticos.
            </div>
        </div>
    </div>
</div>