@{
    ViewData["Title"] = "Página Inicial";
}

<div class="p-2">



<div class="text-center pt-5 pb-3">
    <h1 class="display-4 custom--logo">Quem paga quanto?</h1>
    <p>Divida de forma justa as contas das pessoas quem moram na sua casa.</p>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastre todas as suas despesas</h5>
                <p class="card-text">Descubra nossa solução para simplificar e tornar mais transparente a gestão financeira da sua residência. Nosso aplicativo auxilia na gestão dos gastos domésticos, na criação de relatórios, na elaboração de listas de compras, no acompanhamento de despesas e muito mais..</p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dividir para somar: a matemática da convivência</h5>
                <p class="card-text">Facilite a tomada de decisões,gerencie a divisão das despesas de forma rápida, emita relatorios e compartilhe os demais moradores do seu grupo familiar.</p>
               
            </div>
        </div>
    </div>
            <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Descubra a Simplicidade na Organização de Suas Despesas Domiciliares</h5>
                        <p class="card-text">Você está cansado de lidar com planilhas complicadas e anotações desorganizadas para controlar suas despesas domésticas? Nossa plataforma de finanças pessoais foi projetada para facilitar sua vida, tornando o gerenciamento de custos simples e intuitivo.</p>

                    </div>
                </div>
            </div>
                        <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Pronto para começar?</h5>
                        <p class="card-text">
                        Junte-se a muitos outros que já estão aproveitando o poder de uma gestão financeira simplificada. Cadastre-se agora e dê o primeiro passo para um futuro financeiro mais organizado e equilibrado.
                        <button type="button" class="btn btn-outline-success">Cadastre-se gratuitamente</button>
                        </p>

                    </div>
                </div>
            </div>
</div>

<div class="pb-5">
    <div class="d-flex justify-content-center pt-5">
        <h3>Quem somos nós?</h3>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="img/usuario_a.png" class="container-image" />
        </div>
        <div class="col-sm-8 mb-3 mb-sm-0">
           <p>
                    Bem-vindo à nossa inovadora aplicação de finanças pessoais, projetada para simplificar o gerenciamento das despesas domiciliares. Nossa plataforma oferece uma solução prática para dividir os custos entre os moradores, permitindo uma distribuição justa que pode ser feita de maneira igualitária ou proporcional à renda de cada um. Isso garante que todos contribuam de forma equilibrada, promovendo uma gestão financeira mais harmoniosa.
                    Com um controle financeiro aprimorado, os usuários podem tomar decisões mais informadas e identificar áreas onde ajustes são necessários para atingir seus objetivos econômicos. Nossa ferramenta vai além dos cálculos matemáticos, proporcionando uma interface intuitiva e amigável. Mesmo aqueles sem experiência prévia em finanças poderão facilmente entender quais dados são necessários, como inserir ou remover despesas, e gerar relatórios detalhados.
                    Estamos comprometidos em tornar o gerenciamento financeiro acessível para todos, ajudando nossos usuários a construir uma base sólida para um futuro financeiro mais saudável e sustentável.
           </p>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <button type="button" class="btn btn-success">Acessar</button>

    </div>
</div>

<div class="pb-5">
        <div class="row pt-5">
            <div class="col-sm-8 mb-3 mb-sm-0">
                <h3> Como Funciona?</h3>
        <div class="col-sm-6 mb-5 mb-sm-0 d-flex justify-content-center">
            <img src="img/graficos.jpg" class="container-image" />
        </div>
                <div>
                    <p><strong>Cadastro Simples:</strong> Crie sua conta rapidamente e comece a organizar suas finanças.</p>
                    <p><strong>Adicione Moradores:</strong>Inclua todos os moradores da sua casa e defina a forma de divisão das despesas.</p>
                    <p><strong>Insira Despesas:</strong> Adicione suas despesas de forma prática e veja como elas são distribuídas entre os moradores.</p>
                    <p><strong>Gere Relatórios:</strong> Obtenha relatórios detalhados para entender melhor suas finanças e fazer ajustes quando necessário.</p>
                    <p><strong>Transforme sua maneira de gerenciar finanças pessoais. Experimente nossa plataforma hoje e veja a diferença!</strong></p>
                </div>
              
        </div>
    </div>

    <div class="d-flex">
        <div class="card" style="width: 18rem;">
            <img src="img/notebook.jpg" class="card-img-top" alt="container-image">
            <div class="card-body">
                <h5 class="card-title">Simplifique sua vida!</h5>
                <p class="card-text">Transforme sua maneira de gerenciar finanças pessoais. Experimente nossa plataforma hoje e veja a diferença!</p>
                <a href="#" class="btn btn-outline-success">Cadastre-se aqui</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="img/usuario.jpg" class="card-img-top" alt="container-image">
            <div class="card-body">
                        <h5 class="card-title">Como o app funciona?</h5>
                        <p class="card-text">Tenha o controle total sobre suas despesas na palma da sua mão, saiba como utilizar o app clicando em saiba mais.</p>
                        <a href="#" class="btn btn-outline-success">Saiba mais</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="img/dinheiro.jpg" class="card-img-top" alt="container-image">
            <div class="card-body">
                <h5 class="card-title">Simplifique sua vida financeira!</h5>
                <p class="card-text">Transforme sua maneira de gerenciar finanças pessoais. Experimente nossa plataforma hoje e veja a diferença!</p>
                <a href="#" class="btn btn-outline-success">Cadastre-se aqui</a>
            </div>
        </div>
    </div>

<div class="pb-5">
    <div class="d-flex justify-content-center">
        <h3>Por Que Escolher Nossa Plataforma?</h3>
    </div>
    <div class="row pt-5">
        <div class="col-sm-5 mb-3 mb-sm-0 d-flex justify-content-center">
                <ul class="list-group">
                    <li class="list-group-item">Divisão Justa das Despesas.</li>
                    <li class="list-group-item">Interface Intuitiva</li>
                    <li class="list-group-item">Relatórios Detalhados</li>
                    <li class="list-group-item">Controle Total sobre suas finanças.</li>
                    <li class="list-group-item">Segurança e Privacidade</li>
                </ul>
        </div>

<div class="pb-5">
    <div class="d-flex justify-content-center">
    </div>
        <div class="col-sm-7 mb-5 mb-sm-0 d-flex justify-content-center">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
        </div>
    </div>
</div>

<div class="pb-5">
    <div class="d-flex justify-content-center pt-5">
        <h3>Organize suas despesas domesticas com a "Quem paga quanto?"</h3>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="img/notebook.jpg" class="container-image" />
        </div>
            <div class="col-sm-8 mb-3 mb-sm-0 text-justify">
                <p>
                    Esta aplicação de finanças pessoais foi desenvolvida para simplificar o cálculo das despesas domésticas dos usuários. Com a plataforma, é possível dividir as despesas entre os moradores de maneira igualitária ou proporcional à renda de cada um, promovendo uma distribuição mais justa dos custos. Ao ter um controle mais preciso sobre suas finanças, os usuários podem tomar decisões mais conscientes e identificar áreas onde ajustes são necessários para alcançar seus objetivos financeiros.
                </p>
                <p>
                    A proposta da plataforma não se restringe apenas à parte matemática dos cálculos. A interface foi projetada de forma intuitiva, permitindo que qualquer usuário compreenda facilmente quais dados são necessários, como inserir ou remover despesas e gerar relatórios. Assim, a plataforma busca oferecer uma experiência amigável e acessível a todos, incentivando uma gestão financeira mais eficaz e transparente.
           </p>
               
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        

    </div>
</div>

<div class="pb-5">
    <div class="row pt-5">
        <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center">
            
        </div>
        <div class="col-sm-8 mb-3 mb-sm-0">
              
         <h3>Por que utilizar a quem paga quanto?</h3>
                <div class="row g-0 bg-body-secondary position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                       
                    </div>
                    <div class="col-md-10 p-10 ps-md-0">
                        
                        <p>
                            Ao utilizar a aplicação, o processo de gerenciamento de despesas domésticas será mais ágil, uma vez que o app permite registrar todas as transações financeiras, desde contas mensais até pequenas compras do dia a dia. Isso proporciona uma visão abrangente das finanças da família e ajuda a identificar áreas de gastos excessivos ou desnecessários.
                            Outra vantagem é a possibilidade de compartilhar com todos os membros da família os relatórios referentes às informações financeiras. Isso promove a transparência e o envolvimento de todos na gestão das finanças domésticas, evitando mal-entendidos ou conflitos relacionados ao dinheiro.
                        </p>
                        <a href="#" class="stretched-link">Retornar ao menu </a>
                    </div>
                </div>
        </div>
    </div>
   
</div>

    <div class= "text-center pt-5 pb-3">
    <div class="d-flex justify-content-center">
        <h3>Nossos principais recursos</h3>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4 mb-3 mb-sm-0" >
                <ul class="list-group">
                    <li class="list-group-item">Emitir relatórios detalhados</li>
                    <li class="list-group-item">Criar categorias de despesas</li>
                    
                </ul>
        </div>
            <div class ="col-sm-4 mb-2 mb-sm-0">
                <img src="img/usuario.jpg" class="container-image" />
            </div>
        <div class="col-sm-4 mb-3 mb-sm-0 ">
                <ul class="list-group">
                    <li class="list-group-item">Gerenciar grupos </li>
                    <li class="list-group-item">Gerenciar divisão de despesas</li>
                    
                </ul>
        </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="text-center pt-5 pb-3">
        <h3>Dúvidas Frequentes</h3>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Posso gerenciar mais de um grupo?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Sim, Um usuário com o perfil de administrador pode gerenciar mais de um grupo.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Como os outros moradores saberam como foi feita a divisão?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                 No momento de realizar o cadastro das informaçoes o usuário poderá escolher se a divisão das despesas será proporcional ou igualitaria, e desta forma a informação do metodo de divisão estará no relatórios.   
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               Nossas informações financeira ficarão disponiveis para outras pessoas?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
               Não. Nosso app não terá anúncios e não iremos vender os seus dados. Essa plataforma tem um único objetivo de auxiliar as pessoas na divisão e organização das despesas e gastos domesticos.  
            </div>
        </div>
    </div>
    </div>
</div>