@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center pt-5 pb-3">
    <h1 class="display-4 custom--logo">Quem paga quanto?</h1>
    <p>Divida de forma justa as contas das pessoas quem moram na sua casa.</p>
</div>

<div class="container px-4 text-center pb-5">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3"> 
                <strong>Cadastre todas as suas despesas</strong>
            </div>
            <div class="p-"text-justify"> Descubra nossa solução para simplificar e tornar mais transparente a gestão financeira da sua residência. Nosso aplicativo auxilia na gestão dos gastos domésticos, na criação de relatórios, na elaboração de listas de compras, no acompanhamento de despesas e muito mais.
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <strong>Dividir para somar: a matemática da convivência</strong>
                <div class="p-" text-justify">
                    Facilite a tomada de decisões olhando para as despesas cadastradas para o grupo e emitindo seus relatórios.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="d-flex justify-content-center pb-3">
        <h2>Dúvidas Frequentes</h2>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Posso gerenciar mais de um grupo?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Sim, Um usuário com o perfil de administrador pode gerenciar mais de um grupo.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Como os outros moradores saberam como foi feita a divisão?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                 No momento de realizar o cadastro das informaçoes o usuário poderá escolher se a divisão das despesas será proporcional ou igualitaria, e desta forma a informação do metodo de divisão estará no relatórios.   
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               Nossas informações financeira ficarão disponiveis para outras pessoas?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
               Não. Nosso app não terá anúncios e não iremos vender os seus dados. Essa plataforma tem um único objetivo de auxiliar as pessoas na divisão e organização das despesas e gastos domesticos.  
            </div>
        </div>
    </div>
</div>