@model QuemPagaQuanto.Models.Morador

@{
    ViewData["Title"] = "Editar Morador";
}

<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Editar morador</h1>
        <h4 class="custom--form-sub">Informações do morador</h4>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="GrupoId" />

            <div class="form-group">
                <input type="submit" value="Salvar Morador" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-md-12 text-center mt-4 custom--back-link">
    <a asp-action="Index" asp-route-grupoId="@Model.GrupoId">Voltar para listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
